.question-box {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: white;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  /*display: block;*/
  max-width: 1920px;
  max-height: 1000px;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("chess.jpg") center 20%;
  border: 1px solid #222;
}

.footer {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 1920px;
}

.logo-container {
  bottom: 5px;
  right: 10px;
  height: 70px;
  line-height: 70px;
  position: absolute;
}

.logo {
  height: 70px;
}

.footer .links {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  margin-left: 10px;

  max-width: 50%;
}

.footer .links a {
  font-size: 10pt;
  margin-right: 10px;
  text-decoration: none;
  color: #dadada;
}

body {
  background-size: auto;
  background-repeat: no-repeat;
  margin: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: inherit;
  font-size: 30pt;
  font-weight: 500;
  line-height: 1.1;
  text-shadow: -1px 1px 0 #000;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #B3B3B3;
  position: absolute;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}
